.chip {
    text-align: center;
    align-self: center;
    max-width: 350px;
    margin: 10px 0;
    padding: 10px 30px;
    color: var(--primary);
    background-color: transparent;
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chip:hover {
    background-color: red;
    border-color: red;
    color: white;
    box-shadow: 3px 3px 5px #aaaaaa;
    overflow: visible;
    cursor: not-allowed;
}

code {
    padding: 5px 5px;
    color: darkgrey;
    line-height: 1em;
}

article.widget {
    text-align: center !important;
}
